<?xml version="1.0"?>
<config>
	<modules>
		<Magja_Catalog>
			<version>0.0.2</version>
			<depends>
				<Mage_Catalog />
			</depends>
		</Magja_Catalog>
	</modules>
	<global>
		<models>
			<catalog>
				<rewrite>
					<product_attribute_api>Magja_Catalog_Model_Product_Attribute_Api</product_attribute_api>
				</rewrite>
			</catalog>
		</models>
	</global>
</config>